#root {
  color: rgb(34, 24, 24);
}
header{
  background-color: #a52a2a;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav{
 
  width: 50%;
}

h1{
  color: antiquewhite;
  font-size: 40px;
  text-align: center;
  width: 35%;
}
ul{
  display: flex;
  justify-content: space-evenly;
}
li{
  list-style: none;
  color: antiquewhite;
}

.displayArea{
  
  background-color: #f5e9e7;
  width: 80%;
  height: fit-content;
  margin: auto;
}
.card{

  background-color: #d48e8c;
  width: 40%;
  height: fit-content;
  margin: auto;
  
}
h3{
  border: 2px solid antiquewhite;
  text-align: center;
  font-size: 24px;
  width: 90%;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  border: 2px solid orangered;
  border-radius: 5px;
  margin-left: 25%;
  margin-top: 20px;
  
}
p{
  padding: 10px;
  
}

footer{
  text-align: center;
  font-size: 14px;
}
#showAllBtn{
  background-color: orangered;
}
#showAllBtn:hover{
  background-color: palevioletred;
}